*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(52, 70, 152);
}

h1{
    text-align: center;
}


main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.image-container{
    display: flex;
    flex-direction: column;
    border-top: 50px;
    width: 250px;
    height: 250px;
    
}

.image-container img{
    width: 100%;
}

article{
    
    padding: 50px;
    box-sizing: 0px 0px 1px black;
}

